[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
cufflinks = "*"
geopandas = "*"
networkx = "*"
openpyxl = "*"
fuzzywuzzy = "*"
python-Levenshtein = "*"
libindic-soundex = "*"
libindic-utils = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.10"
